<div class="video-player">
  <mat-card>
    <mat-card-content>
      <video-player-video></video-player-video>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-title>Big Buck Bunny</mat-card-title>
    <mat-card-subtitle>
      <p>
        <i class="material-icons">person</i>
        <span>xStrimmer18x</span>
      </p>
    </mat-card-subtitle>
    <mat-card-content>
      sdflkjsdfoijsdfoghfdklgdfhlkfjgsdhilfdushgisdfuhgwekejhwioehujidfshgkdfshgdfkskhgdsfkgsdfjghirouewfowaeo
    </mat-card-content>
    <mat-card-actions align="end">Do Stuff</mat-card-actions>
  </mat-card>
</div>
